.header-container {
    display: flex; /* Enable Flexbox layout */
    align-items: center; /* Vertically align all child elements */
    justify-content: center; /* Space out the logo and nav-links */
    padding: 0 20px; /* Add horizontal padding */
  }

.nav-links ul {
    list-style: none; /* Remove default list styles */
    display: flex; /* Align links horizontally */
    gap: 7em; /* Add spacing between links */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */

}

.nav-links a {
    text-decoration: none;
    font-size: 2em;
    font-family: 'Amasis MT W1G';
    font-weight: bold;
}


.logo img {
    width: 150px;
    height: auto;
    padding-top: 20px;
    margin-right: 75px;
}


.social-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    margin-left: 150px;
}


.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 20px;
    margin-top: 200px;
    font-size: xx-large;
    font-family: 'Amasis MT W1G';
    color: #48167D;
}


.greeting {
    display: flex;
    margin-bottom: 300px;
    text-align: left;
    font-size: 1.5em;
}

.profile-image {
    margin-top: 20px;
    scale: 125%;
}