.logo-front {
  width: 100px;
  height: auto;
}

.header-master-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-between; /* Space between the logo and socials */
  padding: 10px;
}

.top-navigation {
  display: flex;
  gap: 2em; /* Spacing between links */
  margin: 0 auto; /* Centers the navigation within the flex container */
}

.socials {
  display: flex;
  gap: 2em; /* Spacing between social icons */
}